<section id="content">
  <!--start container-->
  <div class="container">
    <div class="section">

      <div class="section">
        <h4>Feelings</h4>
        <div class="caption">In this secton you'll be able to manage the feelings of the library, you can add, edit, delete and approve submited feelings.</div>       
        <a class="waves-effect waves-light btn" [routerLink]="" (click)="newFeeling();">New</a>        
      </div>

      <!--Basic Form-->
      <div id="basic-form" class="section" *ngIf="action === 1">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card-panel">
              <h4 class="header2">New Feeling</h4>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="name" type="text" name="name" [(ngModel)]="feeling.name">
                      <label for="first_name">Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="description" class="materialize-textarea" name="description" [(ngModel)]="feeling.description"></textarea>
                      <label for="description">Description</label>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <a class="waves-effect waves-light btn cyan right" [routerLink]="" (click)="saveFeeling();"><i class="material-icons right">send</i> Save</a>                        
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Table. -->
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>
  <!--end container-->
</section>