<!-- Start Page Loading -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color gradient-45deg-light-blue-cyan">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a href="index.html" class="brand-logo darken-1">
                <img src="/assets/images/logo.png" alt="emotions library logo">
              </a>
            </h1>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
              <i class="material-icons">settings_overscan</i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
              <i class="material-icons">notifications_none
                <small class="notification-badge orange accent-3">2</small>
              </i>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-block waves-light"  [routerLink]="" (click)="openLogin();">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
          <!-- Once user is logged in -->
          <!--<li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
              <span class="avatar-status avatar-online">
                <img src="/theme/images/avatar/avatar-7.png" alt="avatar">
                <i></i>
              </span>
            </a>
          </li>-->

        </ul>
        <!-- notifications-dropdown -->
        <ul id="notifications-dropdown" class="dropdown-content">
          <li>
            <h6>NOTIFICATIONS
              <span class="new badge">5</span>
            </h6>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#!" class="grey-text text-darken-2">
              <span class="material-icons icon-bg-circle cyan small">stars</span>You've recycled 10 emotions so far</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
          </li>
          <li>
            <a href="#!" class="grey-text text-darken-2">
              <span class="material-icons icon-bg-circle red small">check</span> Your emotions has been aproved</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
          </li>
        </ul>
        <!-- profile-dropdown -->
        <ul id="profile-dropdown" class="dropdown-content">
          <li>
            <a href="#" class="grey-text text-darken-1">
              <i class="material-icons">face</i> Profile</a>
          </li>
          <li>
            <a href="#" class="grey-text text-darken-1">
              <i class="material-icons">settings</i> Settings</a>
          </li>
          <li>
            <a href="#" class="grey-text text-darken-1">
              <i class="material-icons">live_help</i> Help</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- HORIZONTL NAV START-->
    <nav id="horizontal-nav" class="white hide-on-med-and-down">
      <div class="nav-wrapper">
        <ul id="ul-horizontal-nav" class="left hide-on-med-and-down">
          <li class="active">
            <a class="dropdown-menu" href="#!">
              <i class="material-icons">home</i>
              <span>Home</span>
            </a>
          </li>
          <!-- DROPDOWN -->
          <!--<li>
              <a class="dropdown-menu" href="#!" data-activates="Pagesdropdown">
                <i class="material-icons">home</i>
                <span>Home</span>
              </a>
            </li>-->
          <li>
            <a class="dropdown-menu" href="/theme../documentation">
              <i class="material-icons">import_contacts</i>
              <span>Library</span>
            </a>
          </li>
          <li>
            <a class="dropdown-menu" href="#" target="_blank">
              <i class="material-icons">all_inclusive</i>
              <span>Workshop</span>
            </a>
          </li>
          <li>
            <a class="dropdown-menu" href="#" target="_blank">
              <i class="material-icons">forum</i>
              <span>Forum</span>
            </a>
          </li>
          <li>
            <a class="dropdown-menu" href="#" target="_blank">
              <i class="material-icons">view_module</i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a class="dropdown-menu" href="#" target="_blank">
              <i class="material-icons">info</i>
              <span>Contact</span>
            </a>
          </li>
          <li>
            <a class="dropdown-menu" href="#" target="_blank">
              <i class="material-icons">insert_drive_file</i>
              <span>Resources</span>
            </a>
          </li>
          <li>
              <a class="dropdown-menu" href="#" target="_blank">
                <i class="material-icons">shopping_cart</i>
                <span>Emotions Shop</span>
              </a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><span>Connect with us:</span></li>
          <li>
            <a>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Pagesdropdown -->
    <!--<ul id="Pagesdropdown" class="dropdown-content dropdown-horizontal-list">          
        <li class="active"><a href="page-blank.html">Blank</a></li>
      </ul>-->
  </div>
  <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav hide-on-large-only">
      <ul id="slide-out" class="side-nav leftside-navigation">
        <li>
          <a href="changelogs.html">
            <i class="material-icons">home</i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="changelogs.html">
            <i class="material-icons">import_contacts</i>
            <span>Library</span>
          </a>
        </li>
        <li>
          <a href="changelogs.html">
            <i class="material-icons">all_inclusive</i>
            <span>Process</span>
          </a>
        </li>
        <li>
          <a href="changelogs.html">
            <i class="material-icons">forum</i>
            <span>Forum</span>
          </a>
        </li>
        <li>
          <a href="changelogs.html">
            <i class="material-icons">view_module</i>
            <span>Calendar</span>
          </a>
        </li>
        <li>
          <a href="changelogs.html">
            <i class="material-icons">info</i>
            <span>About</span>
          </a>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </aside>
    <!-- END LEFT SIDEBAR NAV-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START CONTENT -->
    <router-outlet></router-outlet> 
    <!-- END CONTENT -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <span>Copyright ©
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
        <a class="grey-text text-lighten-4" href="#" target="_blank">EMOTIONS LIBRARY</a> All rights reserved.</span>
      <span class="right hide-on-small-only"> Design and Developed by
        <a class="grey-text text-lighten-4" target="_blank" href="http://isscroberto.com/">@isscroberto</a>
      </span>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
