/* Load angular material and material icons. */
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Home */

header .brand-logo img {
    height: 40px;
}

header .brand-logo {
    padding-bottom: 10px;
    padding-top: 10px;
}

#home .container {
    width: 70%;
}

#home .carousel {
    max-height: 650px;
}

#horizontal-nav ul li span {
    color: rgba(0, 0, 0, 0.87);
}

/* Generic styles. */
.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.title {
    padding-top: 32px;
}

.card-image.waves-effect {
    overflow: visible;
}

.mat-dialog-container {
    max-height: 90vh;
}

.pre {
    white-space: pre-line;
}