<section id="home">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!">
      <img src="/assets/images/slide1.jpg">
    </a>
    <a class="carousel-item" href="#two!">
      <img src="/assets/images/slide2.jpg">
    </a>
    <a class="carousel-item" href="#three!">
      <img src="/assets/images/slide3.jpg">
    </a>
  </div>

  <!--start container-->
  <div class="container">
    <div class="section">
      <div class="center">
        <h1>Hi,</h1>
        <p class="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum a risus vel egestas. Fusce mauris leo, volutpat
          in eros quis, tempor suscipit diam. Integer fermentum mollis libero, dignissim rutrum elit tempus ut. Aliquam
          consectetur enim finibus lectus iaculis tincidunt. Nullam nec tellus vel risus mattis tincidunt. Proin id eleifend
          leo, id facilisis mi. Aenean vel purus et ante volutpat pellentesque. Etiam diam ex, ultrices quis faucibus
          vel, finibus in mi. Nunc elementum sem mauris, a sodales arcu lobortis ac. Vivamus non porttitor ligula. In
          id dignissim ligula. Nam gravida dui sit amet justo aliquam mattis.
        </p>
        <p class="justify">
          Sed euismod erat a lobortis suscipit. Cras quis massa eu eros congue mollis. Etiam vel neque ut velit tempor condimentum
          eu at elit. Morbi volutpat urna purus, ac placerat orci laoreet in. Aenean egestas luctus auctor. Vivamus cursus
          gravida nunc id scelerisque. In vitae gravida velit, eu iaculis justo. Vestibulum est mauris, interdum eget
          vulputate ut, porta ac tortor. Sed efficitur eros at elementum iaculis. Cras in tristique ex. Quisque egestas
          tempor quam. Integer accumsan maximus nisl, vitae ullamcorper diam lacinia ut. Etiam sit amet urna eget turpis
          interdum pellentesque. Maecenas a tellus id leo efficitur cursus sed id turpis. Suspendisse in neque nec magna
          vulputate tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        <a class="waves-effect waves-light btn-large">LEARN MORE</a>
      </div>
    </div>

    <!-- Floating Action Button -->
    <!--<div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large">
          <i class="material-icons">add</i>
        </a>
        <ul>
          <li>
            <a href="css-helpers.html" class="btn-floating blue">
              <i class="material-icons">help_outline</i>
            </a>
          </li>
          <li>
            <a href="cards-extended.html" class="btn-floating green">
              <i class="material-icons">widgets</i>
            </a>
          </li>
          <li>
            <a href="app-calendar.html" class="btn-floating amber">
              <i class="material-icons">today</i>
            </a>
          </li>
          <li>
            <a href="app-email.html" class="btn-floating red">
              <i class="material-icons">mail_outline</i>
            </a>
          </li>
        </ul>
      </div>-->
    <!-- Floating Action Button -->
  </div>
  <!--end container-->
</section>